 @import "bootstrap";

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

.row { 
	
	margin-left:auto;
	margin-right:auto;
	text-alignement: center;
}

.shadow { 
   color: white; 
   font: bold 52px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.shadow:hover {
   position: relative; 
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902, 
                4px 4px #fe4902, 
                5px 5px #fe4902, 
                6px 6px #fe4902;
}

.header {
   color: white;
   width: 300px; 
   padding: 20px; 
   border: 1px solid #999;
   margin: 0 20px 20px 0;
   float: left; 
   position: relative; 
}

.well.signin{
	background: white;
}

.box-shadow{
	background-color: #FFFFFF;
	position: relative;	
	box-shadow: 5px 5px rgba(0, 0, 0, 0.45);
	border-bottom:1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: none;
	border-top: none;
}

.error {
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.success {
  background:#DDFCD5;
  color:#000;
  border-color:#44A815;
}




